header {
    background-color: #495E57;
    display: flex;
    width: 100%;
    padding:10px;
    position: relative;
    margin-bottom: 80px;
}

.HeaderImage {
    width: 50%;
    margin-left: 20px;
}

.HeaderContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25%;
}

header h2, h5, p, button {
    margin: 0;
    width: 100%;
}

header h2 {
    color: #F4CE14;
    font-family: 'Markazi Text';
    font-size: 64px;
    font-weight: normal;
}

header h5 {
    color: #EDEFEE;
    font-family: 'Markazi Text';
    font-size: 40px;
    font-weight: lighter;
}

header p {
    color: #EDEFEE;
    font-family: 'Markazi Text';
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px; /* Keep space above the paragraph */
}

header button {
    margin-top: 20px;
    background-color: #F4CE14;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 18px;
    font-weight: bold;
    font-family: 'Markazi Text';
    text-align: center;
    width: 30%;
}

.HeaderImage img {
    width: 250px;
    height: 300px;
    border-radius: 10%;
    position: absolute;
    margin-top: 40px;
}
 /*Mobiles*/
 @media (max-width: 575.98px) {
    header{
        margin-bottom: 30px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .HeaderImage img {
        width: 100px;
        height: 150px;
        margin-top: 20px;
        margin-left: 20px;
        position: relative;
    }
    header h2 {
        font-size: 25px;
    }
    header h5 {
        font-size: 15px;
    }
    header p {
        font-size: 8px;
    }

    header button {
    margin-top: 10px;
    padding: 10px;
    width: 70%;
}
.HeaderContent{
    margin-left: 0%;
}
.HeaderImage {
    margin-left: 50px;
}
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
    header{
        margin-bottom: 0px;
    }
    .HeaderImage img {
        width: 150px;
        height: 210px;
        margin-top: 20px;
    }
    header h2 {
        font-size: 40px;
    }
    header h5 {
        font-size: 20px;
    }
    header p {
        font-size: 10px;
    }

header button {
    margin-top: 10px;
    padding: 10px;
    width: 70%;
}
}

