main{
    width: 100%;
}
.first{
    display: flex;
    align-items: center;
}
.sectionH4{
    width: 50%;
    margin-left: 25%;
    font-family: 'Markazi Text';
    font-size: 40px;
    font-weight: bold;
}
.sectionButton{
    width: 50%;
}
.sectionButton button{
    width: 25%;
    background-color: #F4CE14;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 18px;
    font-weight: bold;
    font-family: 'Markazi Text';
    text-align: center;
    margin-left: 10%;
}
.card-image{
    width: 100%;
    height: 200px;
    border-radius:  15px 15px 0px 0px;
}
.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin-left: 25%;
    gap: 30px;
    margin-bottom: 20px;

}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #D9D9D9;
    border-radius:  15px 15px 0px 0px;
    padding-bottom: 20px;
}
.card-header{
    display: flex;
}
.dish-name{
    width: 50%;
    padding-left:15px;
    font-family: 'karla';
    font-weight: bold;
    font-size: 15px;
}
.price{
    margin-left: 30px;
    font-family: 'karla';
    font-size: 13px;
    color: #EE9972;
    font-weight: bold;
}
.card p{
    padding-left: 15px;
    font-family: 'karla';
    font-size: 15px;
    font-weight: normal;
}

.order-link{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-top: auto;
}
.order-link :hover{
    color: blue;
}
.bike-icon{
    margin-left: 20px;
}


/*Mobiles*/
@media (max-width: 575.98px) {
    .first{
        margin-bottom: 20px;
    }
    .sectionH4{
        font-size: 15px;
        margin-left: 30px;
        width: 50%;
    }
    .sectionButton{
        width: 25%;
    }
    .sectionButton button{
        width: 100%;
        padding: 10px;
    }
    .cards-container{
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0px;
        gap: 0px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

    }
    .card{
        margin-bottom: 20px;
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
    .first{
        margin-top: 40px;
    }
    .sectionH4{
        font-size: 20px;
    }
    .sectionButton button{
        width: 50%;
        padding: 10px;
        margin-left: 20px;
    }
    .card-image{
        width: 100%;
        height: 150px;
        border-radius:  15px 15px 0px 0px;
    }
    .cards-container{
        width: 100%;
        margin-left: 0px;
        gap: 10px;
    }
    .card{
        gap: 15px;
    }

    .card p{
        font-size: 13px;
    }
    .dish-name{
        font-size: 13px;
    }
}

